body {
    width: 98%;
    margin: 0 auto;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    text-align: justify;
}

.btn-center {
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1px;
    margin: 1px;
    border: 1px solid;
    height: 10%;
    max-width: 20%;
    object-fit: scale-down
}

th, td {
    width: fit-content;
    border: solid 1px;
    padding: 5px 20px;
}

.aligned {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
}